body {
    padding-top: 70px;
}

.jumbotron {
    color: #374c61;
    background-color: #cae6ec;
}

.navbar-inverse {
    background-color: #374c61;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}